* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.titulo__pagina {
    display: flex;
    justify-content: center;
    background-color: red;

}

div h1 {
    color: black;
}



.navbar ul li a { text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 20px;

}

.nav__bar ul li {
    display: inline-block;
    list-style: none;
    padding: 0 25px;
}

.navbar-toggler {
   
    background-color: red;
}

.menu__usuario {
    font-size: 20px;
    color:red;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}




.row__2 h1 {
    color:red;
}

.row__2 h2 {
    color: whitesmoke;
}

.row__2 p {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    color: white;
}

.row__2 img {
    max-width: 100%;
    border-style: solid;
    border-color: red;
}



.row__3 h2 {
    color: red;
}

.sub__trailer {
    color: white;
    margin-top: 10px;
}


.row__3 video {
    max-width: 100%;
    border-style: solid;
    border-color: red;
}

.row__3 p {
    margin: 20px;
    font-size: 20px;
    color: white;
}


footer  {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

 footer ul li {
    display: inline-block;
        
    }

footer ul li a img {
    width: 50px;
    max-width: 100%;
  
    
}    

footer ul li a img:hover {
    transform: scale(2);
    transition: 2s;
}

footer h3 {
    color: rgba(255, 17, 0, 0.699);
}



/* Sección Noticias */

/* ROW 2 */

.row__2noticias {
    background-color: black;
}

.row__2noticias h1 {
    color:red;
}

.row__2noticias h2 {
    color: whitesmoke;
}

.row__2noticias p {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    color: white;
}

.row__2noticias img {
    width: 600px;
    height: 300px;
    margin: 20px;
    border-style: solid;
    border-color: red;
}

/* ROW 3 */

.row__3noticias {
    background-color: black;
}

.row__3noticias h1 {
    color:red;
}

.row__3noticias h2 {
    color: whitesmoke;
}

.row__3noticias p {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    color: white;
}

.row__3noticias img {
    width: 600px;
    height: 300px;
    margin: 20px;
    border-style: solid;
    border-color: red;
}

/* ROW 4 */

.row__4noticias {
    background-color: black;
}

.row__4noticias h1 {
    color:red;
}

.row__4noticias h2 {
    color: whitesmoke;
}

.row__4noticias p {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    color: white;
}

.row__4noticias img {
    width: 600px;
    height: 300px;
    margin: 20px;
    border-style: solid;
    border-color: red;
}


/* ROW 5 */

.row__5noticias {
    background-color: black;
}

.row__5noticias h1 {
    color:red;
}

.row__5noticias h2 {
    color: white;
}

.row__5noticias p {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    color: white;
   
}

.row__5noticias img {
    width: 600px;
    height: 300px;
    margin: 20px;
    border-style: solid;
    border-color: red;
}

/* ROW 6 */

/*.row__6 {
    background-color: black;
    display: flex;
    justify-content: center;
    
    
}

.row__6 footer div ul li {
    display: inline-block;
        
    }

.row__6 footer div ul li a img {
    width: 50px;

    
}    

.row__6 footer div ul li a img:hover {
    transform: scale(2);
    transition: 2s;

}

.row__6 h3 {
    color: rgba(255, 17, 0, 0.699);
}*/